body {
    width: 90%;
    margin: 0 auto;
    /* background-color: #fdfcdc; */
}

/* main {
    overflow: auto;
    /* height: 100%; */
/* } */ 

article {
    /* background-color: #fed9b7; */
    /* padding: 10px; */
    margin: 1%;
    padding: 10px 0 5px;
    height: 600px;
}

* {
    text-align: center;
}
img{
    height: 100px;
}
 