body {
    width: 90%;
    margin: 0 auto;
}

/* main {
    overflow: auto;
    /* height: 100%; */
/* } */ 

#feature, article, footer {
    background-color: #efefef;
    /* padding: 10px; */
    margin: 1%;
    padding: 10px 0 5px;
}

/* .Left-column, .mid-column, .right-column {
    /* background-color: #efefef; */
    /* width: 31.3%;
    float: left;
    margin: 1%;
} */ 

/* nav, footer {
    background-color: #efefef;
    padding: 0.5em 0;
} */

#feature, article {
    height: 100px;
    /* margin-bottom: 1em;
    background-color: #efefef; */
}

* {
    text-align: center;
}
 