* {
    background-color: #f1b6b5;
    }
header {
text-align: center;
}
hr {
color: #ee898a;
}
body {
background-color: white;
}
a {
background-color: #f2a6a4;
}
h2 {
font-family: "Poetsen One", sans-serif;
font-weight: 400;
font-size: 40px;
font-style: normal;
color: #f2a6a4;
}
p {
 font-family: "Patrick Hand", cursive;
font-weight: 400;
font-style: normal;
color: #323232;
}